@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

body {
    background-color: #fff
}

.navbar-nav>li>a {
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 20px;
    color: #fff
}

.navbar-toggler {
    padding: .20rem .50rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid white
}

.nav-link {
    color: #fff !important
}

.wrapper {
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: #000;
    clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 71% 100%);
    transition: 1s all
}

.navbar-brand {
    color: #fff;
    font-family: 'Allerta Stencil', sans-serif;
    margin-bottom: 4px;
    font-size: 27px
}

.navbar-red:hover .wrapper {
    clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 65% 100%)
}

.navbar-brand:hover {
    color: #fff
}

.navbar-red {
    background-color: red;
    color: #fff
}

.all-show {
    z-index: 10
}

.cart-added {
    border-left: 4px solid red;
    padding: 10px;
    background-color: #eee;
    border-radius: 2px
}

.suction {
    font-size: 12px
}

.btn-success {
    border-radius: 4px;
    background-color: red;
    border-color: red
}

.btn-success:hover {
    border-radius: 4px;
    background-color: red;
    border-color: red
}

.product-card {
    background-color: #eee;
    height: 200px;
    border-radius: 4px
}

.wishlist {
    border: 1px solid red;
    color: red
}

.wishlist:hover {
    background-color: red;
    color: #fff;
    border: 1px solid red
}